main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square{
    border: 1px rgb(204, 0, 0) solid;
    height: 200px
}
.startBtn{
    position: relative;
    left: 220px;
}